<mat-toolbar color="primary">
  <span>Képböngésző</span>
  <span class="example-spacer"></span>
  <button *ngIf="isLoggedIn()" mat-button>
    <span> 
      {{user.username.charAt(0).toUpperCase() + user.username.slice(1)}}
    </span>
  </button>
  <button mat-icon-button class="example-icon" routerLinkActive="active" routerLink="/app/home">
    <mat-icon>
      home
    </mat-icon>
  </button>
  <button *ngIf="!isLoggedIn()" 
      mat-icon-button class="example-icon" 
      routerLinkActive="active"
      matTooltip="Login" 
      routerLink="/login">
    <mat-icon>
      login
    </mat-icon>
  </button>
  <button *ngIf="isLoggedIn()" 
      mat-icon-button 
      matTooltip="Logout" 
      class="example-icon" 
      (click)="logout()">
    <mat-icon>
      logout
    </mat-icon>
  </button>
</mat-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>
