<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  <span>Képböngésző</span>
  <span class="example-spacer"></span>
  <button *ngIf="isLoggedIn()" mat-button>
    
      {{user.username.charAt(0).toUpperCase() + user.username.slice(1)}}
    
  </button>
  <button mat-icon-button class="example-icon" routerLinkActive="active" routerLink="/app/home">
    <mat-icon>
      home
    </mat-icon>
  </button>
  <button *ngIf="!isLoggedIn()" 
      mat-icon-button class="example-icon" 
      routerLinkActive="active"
      matTooltip="Login" 
      routerLink="/login">
    <mat-icon>
      login
    </mat-icon>
  </button>
  <button *ngIf="isLoggedIn()" 
      mat-icon-button 
      matTooltip="Logout" 
      class="example-icon" 
      (click)="logout()">
    <mat-icon>
      logout
    </mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="sidebar">
  <mat-drawer #drawer style="background-color: #3f51b5;" mode="side" opened> 
    <mat-nav-list *ngIf="isLoggedIn()">
      <mat-list-item class="list-items"
      routerLink="/app/picture-browser">
         <mat-icon>
           image
        </mat-icon>
        Képek
      </mat-list-item>
      <mat-list-item class="list-items">
         <mat-icon>
           article
         </mat-icon>
        Item 2
      </mat-list-item>
      <mat-list-item  
        *ngIf="user.roles.includes(ADMIN)"
        class="list-items" 
        routerLink="/app/admin">
        <mat-icon>
          article
        </mat-icon>
        Admin
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content> 
</mat-drawer-container>
