<mat-toolbar color="primary">
  <span>Képböngésző</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" routerLinkActive="active" routerLink="/app/home">
    <mat-icon>
      home
    </mat-icon>
  </button>
  <button mat-icon-button class="example-icon" routerLinkActive="active" routerLink="/login">
    <mat-icon>
      login
    </mat-icon>
  </button>
  <button mat-icon-button class="example-icon" (click)="logout()">
    <mat-icon>
      logout
    </mat-icon>
  </button>
</mat-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>
