
<div class="kb-content">
	<h1>Képböngésző</h1>
	<mat-card>
		<mat-card-content>
			<p>Ez egy Demó alkalmazás ami VIR beadandó feladatként készült.</p>
			<p>A program egy képböngésző alkalmazás. <br> A felhasználók egy adott mappában lévő képek között tudnak böngészni a felhasználói jogosultságaiknak megfelelően.
				Kettő féle jogosultság van, egyik az admin ami minden képet láthat és akár törölhet is, a másik a sima felhasználó.
				A sima felhasználók csak azokat a képeket láthatják amik engedélyzve vannak a számukra (Ezt az Admin, admin felületen tudja megtenni).
				Minden felhasználó képes saját képet is feltölteni és kiválasztani, hogy csak adminok, vagy sima felhasználók is láthassák.</p>
			<p>Regisztrálj, hogy elérd a felületet!</p>
			<p>Készítette: Illés Botond Balázs</p>
		</mat-card-content>
	</mat-card>
</div>
